# ignore ALL pycache files
*.pyc

# ignore ALL files in ANY directory named..
Measurement/Alex/__pycache__/
Measurement/Elizabeth/__pycache__/
Measurement/Changmin/__pycache__/
Measurement/Veronika/__pycache__/
Measurement/Yue/__pycache__/

# ignore attocube handle file
attocube_handle
zurich_handle
opticool_handle

# ignore config file
Measurement/Alex/motors.py
configuration.py
Configuration.txt

# other files that pop up:
.DS_Store
attocube_handle
configuration.py
Measurement/Alex/motors.py
Measurement/Alex/control/zurich.py
